.bg-color-aqua {
    background-color: aquamarine;
  }
  
  .bg-color-pink {
    background-color: pink;
  }
  
  .text-color-aqua {
    color: aquamarine;
  }
  
  .text-color-pink {
    color: pink;
  }